body {
    color: lightslategray;
    background-image: url(https://images2.minutemediacdn.com/image/fetch/w_850,h_560,c_fill,g_auto,f_auto/https%3A%2F%2Fapptrigger.com%2Ffiles%2F2022%2F07%2FStarfield-1-850x560.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    background-color: black;
    border: gold;
    border-style: inset;
}

.clock {
    background: #333333;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.clock-ampm {
    font-family: sans-serif;
    font-size: 30px;
    color: #eeeeeeee;
}

.clock-time {
    font-size: 40px;
}
